streamlit
opencv-python-headless
numpy
pandas
joblib
ultralytics
tensorflow
supabase
python-dotenv
requests
scikit-learn
matplotlib
seaborn
scipy
statsmodels
wordcloud
pymysql
gradio
langchain-community
ydata-profiling
sqlalchemy
supabase